<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.crawl.cloud.callback.dao.CallbackModelDao" >
  <resultMap id="BaseResultMap" type="com.jf.crawl.cloud.callback.entity.CallbackModelEntity" >
    <id column="app_id" property="appId" jdbcType="VARCHAR" />
    <id column="product" property="product" jdbcType="VARCHAR" />
    <id column="method" property="method" jdbcType="VARCHAR" />
    <id column="event" property="event" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    app_id, product, method, event, `data`
  </sql>
  
  <select id="selectModelByAppIdAndProduct" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> from t_callback_model
        where app_id = #{app_id, jdbcType=VARCHAR}
          and product = #{product, jdbcType=VARCHAR}
          and event = #{event, jdbcType=VARCHAR}
    and partner = #{partner, jdbcType=VARCHAR}
      UNION
        select  <include refid="Base_Column_List" /> from t_callback_model where app_id = 'COMMON' and product = 'COMMON' and event = #{event, jdbcType=VARCHAR}
        and NOT EXISTS (select <include refid="Base_Column_List" /> from t_callback_model
        where app_id = #{app_id, jdbcType=VARCHAR}  and product = #{product, jdbcType=VARCHAR} and event = #{event, jdbcType=VARCHAR}) and partner = #{partner, jdbcType=VARCHAR}
   </select>
   
</mapper>