<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.crawl.cloud.callback.dao.CallbackLogDao">

	<resultMap id="BaseResultMap" type="com.jf.crawl.cloud.callback.entity.CallbackLogEntity">
		<id column="task_key" property="taskKey" jdbcType="VARCHAR" />
		<result column="notify_event" property="notifyEvent" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="partner" property="partner" jdbcType="VARCHAR" />
		<result column="product" property="product" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="from_channel" property="fromChannel" jdbcType="VARCHAR" />
		<result column="success" property="success" jdbcType="INTEGER" />
		<result column="event" property="event" jdbcType="VARCHAR" />
		<result column="is_manual" property="isManual" jdbcType="VARCHAR" />
		<result column="callback_data" property="callbackData" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="invoke_time" property="invokeTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="status_code" property="statusCode" jdbcType="INTEGER" />
		<result column="callback_times" property="callbackTimes" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		task_key, notify_event, app_id, partner, product, update_time, success, event, is_manual,
		callback_data, create_time, invoke_time, end_time, status_code,
		callback_times
	</sql>

	<insert id="insertCallbackLog" parameterType="com.jf.crawl.cloud.callback.entity.CallbackLogEntity">
		insert into t_callback_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskKey != null">
				task_key,
			</if>
			<if test="notifyEvent != null">
				notify_event,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="partner != null">
				partner,
			</if>
			<if test="product != null">
				product,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="success != null">
				success,
			</if>
			<if test="fromChannel != null">
				from_channel,
			</if>
			<if test="step != null">
				step,
			</if>
			<if test="transNo != null">
				trans_no,
			</if>
			<if test="event != null">
				event,
			</if>
			<if test="isManual != null">
				is_manual,
			</if>
			<if test="callbackData != null">
				callback_data,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="invokeTime != null">
				invoke_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="statusCode != null">
				status_code,
			</if>
			<if test="callbackTimes != null">
				callback_times,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskKey != null">
				#{taskKey, jdbcType=VARCHAR},
			</if>
			<if test="notifyEvent != null">
				#{notifyEvent, jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				#{appId, jdbcType=VARCHAR},
			</if>
			<if test="partner != null">
				#{partner, jdbcType=VARCHAR},
			</if>
			<if test="product != null">
				#{product, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="success != null">
				#{success, jdbcType=BIGINT},
			</if>
			<if test="fromChannel != null">
				#{fromChannel, jdbcType=VARCHAR},
			</if>
			<if test="step != null">
				#{step, jdbcType=VARCHAR},
			</if>
			<if test="transNo != null">
				#{transNo, jdbcType=VARCHAR},
			</if>
			<if test="event != null">
				#{event, jdbcType=VARCHAR},
			</if>
			<if test="isManual != null">
				#{isManual, jdbcType=BIGINT},
			</if>
			<if test="callbackData != null">
				#{callbackData, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="invokeTime != null">
				#{invokeTime, jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime, jdbcType=TIMESTAMP},
			</if>
			<if test="statusCode != null">
				#{statusCode, jdbcType=BIGINT},
			</if>
			<if test="callbackTimes != null">
				#{callbackTimes, jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateCallbackEventLogByTaskKeyAndTransNo" parameterType="com.jf.crawl.cloud.callback.entity.CallbackLogEntity">
		update t_callback_log
		  <trim prefix="set" suffixOverrides=",">  
			<if test="updateTime != null">
				update_time = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="step != null">
				step = #{step, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="event != null">
				event = #{event, jdbcType=VARCHAR},
			</if>
			<if test="callbackData != null">
				callback_data = #{callbackData, jdbcType=VARCHAR},
			</if>
			<if test="invokeTime != null">
				invoke_time = #{invokeTime, jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime, jdbcType=TIMESTAMP},
			</if>
			<if test="statusCode != null">
				status_code = #{statusCode, jdbcType=BIGINT},
			</if>
			<if test="success != null">
				success = #{success, jdbcType=BIGINT},
			</if>
			<if test="step == 'INVOKE'">
				callback_times = callback_times + 1
			</if>
		</trim>
		where trans_no = #{transNo, jdbcType=VARCHAR}
	</update>

</mapper>