<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.crawl.cloud.callback.dao.CallbackConfigDao">

	<resultMap id="BaseResultMap" type="com.jf.crawl.cloud.callback.entity.CallbackConfigEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="partner" property="partner" jdbcType="VARCHAR" />
		<result column="product" property="product" jdbcType="VARCHAR" />
		<result column="headers" property="headers" jdbcType="VARCHAR" />
		<result column="notify_event" property="notifyEvent" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, app_id, partner, product, headers, notify_event, url
	</sql>

	<select id="selectEventCallbackConfigByAppIdAndPartner" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_callback_config
		where app_id = #{app_id, jdbcType=VARCHAR} and product = #{product, jdbcType=VARCHAR}
			and notify_event = #{notify_event, jdbcType=VARCHAR}
	</select>
</mapper>