<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 修改一下路径-->
	<property name="PATH" value="logs"></property>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] --%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${PATH}/callback-cloud.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>logs/callback-cloud.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
			<maxFileSize>1000MB</maxFileSize>
		</rollingPolicy>
		<layout>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line]--%mdc{client} %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>


	<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${PATH}/callback-error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>logs/callback-error.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
			<maxFileSize>1000MB</maxFileSize>
		</rollingPolicy>
		<layout>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line]--%mdc{client} %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<root level="TRACE">
		<appender-ref ref="INFO_FILE" />
		<!--<appender-ref ref="DEBUG_FILE" />-->
		<!--<appender-ref ref="WARN_FILE" />-->
		<appender-ref ref="ERROR_FILE" />
	</root>
	<!-- Level: FATAL 0  ERROR 3  WARN 4  INFO 6  DEBUG 7 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>
</configuration>