<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yichen.dao.SysUserDao">

    <resultMap id="user" type="com.yichen.model.User">
        <result  property="loginName" column="login_name"/>
        <result property="username" column="user_name"/>
    </resultMap>

    <select id="getUser" resultMap="user" >
        select login_name,user_name from sys_user where user_id = #{id};
    </select>
</mapper>